* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --header-color:#2d6a4f;
    --main-color: #74c69d;
    --footer-color:#b7e4c7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    background-color: var(--header-color);
    color: white;
    font-size:24px;
    height: 60px;
}
.pokemoninfo {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.pokemoninfo-pokemon {
    margin: 40px 0px 40px 60px;
    padding: 0px;
    width: 500px;
    height: 380px;
}
.pokemoninfo-pokemonstats{
    width: 300px;
    height: 300px;
    background-color: var(--white);
    border-radius: 10px;
    margin: 40px 60px 40px 0px;
    padding: 40px 30px;
}
.pokemoninfo-pokemonstats aside{
    
}
.pokemoninfo-pokemon figure {
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: auto;
    /* padding: 10px 50px; */
}
.pokemoninfo-pokemon figure img {
    /* object-fit: cover; */
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 0px;    
}
.pokemoninfo-pokemon__name {
    margin: 0px 100px;
    padding: 10px 50px;
    background-color: var(--white);
    border-radius: 10px;
    width:145px;
    height:auto;
}
.title-pokedexlogo {
    margin: 0;
}
.title p {
    margin: 0;
    padding: 0 0 0 4px;
    height: 40px;
}
.title-pokedexlogo img {
    height: 40px;
    object-fit: cover;
}
main {
    /* background-color: var(--main-color); */
    background: rgb(45,106,79);
    background: linear-gradient(0deg, rgba(45,106,79,1) 0%, rgba(116,198,157,1) 100%);
}
.otherpokemon {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-bottom: 1px solid;
    height: 140px;
    width: 100%;
}
.otherpokemon p {
    margin: 80px 80px 80px 120px;
}
.otherpokemon figure {
    height: 100px;
    width: 100px;
    background-color:grey;
    margin:15px 30px;
}

.otherpokemon figure:nth-child(5) {
    margin: 15px 60px 15px 30px;

}
